In [24]:
# list methods
# copy method

qlist = [ 2, 56, "apple", 394.3, True, "hi", 23232]
qlist2 = qlist.copy()

In [25]:
qlist, qlist2

([2, 56, 'apple', 394.3, True, 'hi', 23232],
 [2, 56, 'apple', 394.3, True, 'hi', 23232])

In [26]:
# clear method
# clears all the elements from a list
qlist2.clear()
qlist2

[]

In [28]:
# index 
# to get index of element from list
qlist.index(True)

4

In [32]:
# insert 
# to add elements in list on a specific index
qlist.insert(2, "Volvo")
qlist

[2, 56, 'Volvo', 'Volvo', 'apple', 394.3, True, 'hi', 23232]

In [34]:
# pop
# removes element from specified index

qlist.pop(2)

'Volvo'

In [35]:
qlist

[2, 56, 'Volvo', 'apple', 394.3, True, 'hi', 23232]

In [38]:
# remove
# remove element from list using the element


qlist.remove("hi")

In [39]:
qlist

[2, 56, 'Volvo', 'apple', 394.3, True, 23232]

In [46]:
# reverse
# ulta kar deta hai list ko

qlist.reverse()
qlist

[23232, True, 394.3, 'apple', 'Volvo', 56, 2]

In [58]:
# sort
# re-arranging the list in ascending order
qlist3 = ["adya", "ashish", 'aarun', "debu", "aryan", "bhanu", "zarar"]
qlist3.sort()
qlist3

['aarun', 'adya', 'aryan', 'ashish', 'bhanu', 'debu', 'zarar']