In [24]:
# list methods
# copy method

qlist = [ 2, 56, "apple", 394.3, True, "hi", 23232]
qlist2 = qlist.copy()

In [25]:
qlist, qlist2

([2, 56, 'apple', 394.3, True, 'hi', 23232],
 [2, 56, 'apple', 394.3, True, 'hi', 23232])

In [26]:
# clear method
# clears all the elements from a list
qlist2.clear()
qlist2

[]

In [28]:
# index 
# to get index of element from list
qlist.index(True)

4

In [32]:
# insert 
# to add elements in list on a specific index
qlist.insert(2, "Volvo")
qlist

[2, 56, 'Volvo', 'Volvo', 'apple', 394.3, True, 'hi', 23232]

In [34]:
# pop
# removes element from specified index

qlist.pop(2)

'Volvo'

In [35]:
qlist

[2, 56, 'Volvo', 'apple', 394.3, True, 'hi', 23232]

In [38]:
# remove
# remove element from list using the element


qlist.remove("hi")

In [39]:
qlist

[2, 56, 'Volvo', 'apple', 394.3, True, 23232]

In [46]:
# reverse
# ulta kar deta hai list ko

qlist.reverse()
qlist

[23232, True, 394.3, 'apple', 'Volvo', 56, 2]

In [58]:
# sort
# re-arranging the list in ascending order
qlist3 = ["adya", "ashish", 'aarun', "debu", "aryan", "bhanu", "zarar"]
qlist3.sort()
qlist3

['aarun', 'adya', 'aryan', 'ashish', 'bhanu', 'debu', 'zarar']

In [1]:
# dictionary
# dictionary is the 4th collection datatype of python which has KEY-VAlUE pairs

d1 = {}   # empty dict

type(d1)

dict

In [2]:
d1["car"] = "Volvo"

In [3]:
d1

{'car': 'Volvo'}

In [12]:
student = {
    "name1" : "Anshuman",
    "class" : "1st",
    "roll_number" : 123,
    "percentage" : 88.9
}

In [15]:
student["roll_number"]

123

In [25]:
try:
    student["name"]
except:
    print("there is no such key as NAME, check your key")

there is no such key as NAME, check your key

In [18]:
student.get("name")

In [26]:
student

{'name1': 'Anshuman', 'class': '1st', 'roll_number': 123, 'percentage': 88.9}

In [27]:
student["section"] = "A"

In [39]:
student["name"] = "Adya"
student

{'name1': 'Adya',
 'class': '1st',
 'roll_number': 123,
 'percentage': 88.9,
 'section': 'A',
 'name': 'Adya'}

In [43]:
for delhi, noida in student.items():
    print("{} is the key of {}".format(delhi, noida))

class is the key of 1st
roll_number is the key of 123
percentage is the key of 88.9
section is the key of A
name is the key of Adya

In [41]:
del student["name1"]

In [44]:
student

{'class': '1st',
 'roll_number': 123,
 'percentage': 88.9,
 'section': 'A',
 'name': 'Adya'}

In [45]:
student.pop("name")

'Adya'

In [46]:
student

{'class': '1st', 'roll_number': 123, 'percentage': 88.9, 'section': 'A'}

In [47]:
student.popitem()

('section', 'A')

In [48]:
d1

{'car': 'Volvo'}

In [49]:
d1.clear()

In [50]:
d1

{}

In [51]:
student

{'class': '1st', 'roll_number': 123, 'percentage': 88.9}

In [52]:
d1

{}

In [53]:
d1 = student

In [54]:
d1

{'class': '1st', 'roll_number': 123, 'percentage': 88.9}

In [55]:
student["name"] = "camp k12"

In [56]:
student

{'class': '1st', 'roll_number': 123, 'percentage': 88.9, 'name': 'camp k12'}

In [57]:
d1

{'class': '1st', 'roll_number': 123, 'percentage': 88.9, 'name': 'camp k12'}

In [58]:
d1 = student.copy()

In [59]:
d1

{'class': '1st', 'roll_number': 123, 'percentage': 88.9, 'name': 'camp k12'}

In [60]:
student["email"] = "ojdbo@djb.com"

In [61]:
student

{'class': '1st',
 'roll_number': 123,
 'percentage': 88.9,
 'name': 'camp k12',
 'email': 'ojdbo@djb.com'}

In [62]:
d1

{'class': '1st', 'roll_number': 123, 'percentage': 88.9, 'name': 'camp k12'}

In [66]:
#casting


lst = list(range(1,10))

In [73]:
lst

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [77]:
lst = set(lst)
lst

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [85]:
lst = list(lst)
lst = ["belgium", "india", "africa", "bhutan", "netherlands", "finland"]
lst

['belgium', 'india', 'africa', 'bhutan', 'netherlands', 'finland']

In [121]:
cdict = {}
for index, value in enumerate(lst):
    cdict[index] = value
cdict

{0: 'belgium',
 1: 'india',
 2: 'africa',
 3: 'bhutan',
 4: 'netherlands',
 5: 'finland'}

In [122]:
cdict.get(1)

'india'

In [123]:
ndict = {
    1:{
        "name": "anshuman",
        "house": "blue",
    },
    
     2:{
        "name": "adya",
        "house": "red",
    },
    
    3:{
        "name": "camp k12",
        "house": "white",
    },
    
}

In [125]:
ndict[3]["house"]

'white'

In [128]:
ndict[4] = {"name": "abc", "house": "tulip"}

In [129]:
ndict

{1: {'name': 'anshuman', 'house': 'blue'},
 2: {'name': 'adya', 'house': 'red'},
 3: {'name': 'camp k12', 'house': 'white'},
 '4': {'name': 'abc', 'house': 'tulip'},
 4: {'name': 'abc', 'house': 'tulip'}}

In [130]:
ndict.pop("4")

{'name': 'abc', 'house': 'tulip'}

In [131]:
ndict

{1: {'name': 'anshuman', 'house': 'blue'},
 2: {'name': 'adya', 'house': 'red'},
 3: {'name': 'camp k12', 'house': 'white'},
 4: {'name': 'abc', 'house': 'tulip'}}

In [132]:
ndict[4]["name"] = "qwerty"

In [133]:
ndict

{1: {'name': 'anshuman', 'house': 'blue'},
 2: {'name': 'adya', 'house': 'red'},
 3: {'name': 'camp k12', 'house': 'white'},
 4: {'name': 'qwerty', 'house': 'tulip'}}

In [137]:
ndict, cdict, d1

({1: {'name': 'anshuman', 'house': 'blue'},
  2: {'name': 'adya', 'house': 'red'},
  3: {'name': 'camp k12', 'house': 'white'},
  4: {'name': 'qwerty', 'house': 'tulip'}},
 {0: 'belgium',
  1: 'india',
  2: 'africa',
  3: 'bhutan',
  4: 'netherlands',
  5: 'finland'},
 {'class': '1st', 'roll_number': 123, 'percentage': 88.9, 'name': 'camp k12'})

In [153]:
clubbed = {}
qlist3 = ['aarun', 'adya', 'aryan', 'ashish', 'bhanu', 'debu', 'zarar']
lst, qlist3

(['belgium',
  'india',
  'africa',
  'bhutan',
  'netherlands',
  'finland',
  'aarun',
  'adya',
  'aryan',
  'ashish',
  'bhanu',
  'debu',
  'zarar'],
 ['aarun', 'adya', 'aryan', 'ashish', 'bhanu', 'debu', 'zarar'])

In [154]:
lst = lst + qlist3

In [155]:
lst

['belgium',
 'india',
 'africa',
 'bhutan',
 'netherlands',
 'finland',
 'aarun',
 'adya',
 'aryan',
 'ashish',
 'bhanu',
 'debu',
 'zarar',
 'aarun',
 'adya',
 'aryan',
 'ashish',
 'bhanu',
 'debu',
 'zarar']

In [170]:
clubbed = {}
clubbed.update(ndict)
clubbed

{1: {'name': 'anshuman', 'house': 'blue'},
 2: {'name': 'adya', 'house': 'red'},
 3: {'name': 'camp k12', 'house': 'white'},
 4: {'name': 'qwerty', 'house': 'tulip'}}

In [171]:
print(clubbed)
cdict.update(clubbed)
clubbed

{1: {'name': 'anshuman', 'house': 'blue'}, 2: {'name': 'adya', 'house': 'red'}, 3: {'name': 'camp k12', 'house': 'white'}, 4: {'name': 'qwerty', 'house': 'tulip'}}

{1: {'name': 'anshuman', 'house': 'blue'},
 2: {'name': 'adya', 'house': 'red'},
 3: {'name': 'camp k12', 'house': 'white'},
 4: {'name': 'qwerty', 'house': 'tulip'}}

In [172]:
clubbed

{1: {'name': 'anshuman', 'house': 'blue'},
 2: {'name': 'adya', 'house': 'red'},
 3: {'name': 'camp k12', 'house': 'white'},
 4: {'name': 'qwerty', 'house': 'tulip'}}